/* Block component */
/* Element that depends upon the block */
/* Modifier that changes the style of the block */
#override body {
  background-color: #7FDFD4;
}
#title {
  background-color: #A7EFE9;
}
#override .jumbotron {
  color: #212121;
  border-bottom: solid #FBAC91;
  background-color: #7FDFD4;
}
#submit,
#start {
  background-color: #FBE1B6;
  margin-top: 20px;
  border: solid 1px #FBAC91;
  color: #212121;
}
label {
  padding: 0px 10px;
}
.answers {
  font-size: 12px;
}
.question {
  padding: 10px 10px;
}
#override code {
  color: #2317b8;
}
